.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.8rem;
  color: var(--cor1);
}

.newButton {
  padding: 0.6rem 1.2rem;
  background-color: var(--cor4);
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.newButton:hover {
  background-color: var(--cor1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  /* Sombra mais suave, como na imagem */
}

/* Cabeçalho limpo, apenas com texto e sem fundo cinza */
.table th {
  background-color: white;
  font-weight: 700;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--cor1);
  /* Linha sutilmente mais forte no cabeçalho */
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
  color: var(--cor1);
  border-bottom: solid 1px var(--cor0);
}

.table tr:last-child td {
  border-bottom: none;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}

.editBtn,
.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;
  padding: 0; 

  border-radius: 5px; 

  background-color: transparent;
  color: var(--cor4);
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.editBtn:hover {
  background-color: var(--cor4);
  color: white;
}

.deleteBtn {
  color: var(--cor3);
}

.deleteBtn:hover {
  background-color: var(--cor3);
  color: white;
}

