/* src/app/globals.css */

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('/font/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/font/Poppins-Bold.woff2') format('woff2');
}

:root {
  --cor0: #dcdcdc;
  --cor1: #3b4246;
  --cor2: #5d686e;
  --cor3: #EE40A2;
  --cor4: #7B56C7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #F2F3F7;
  color: var(--cor1);
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0;
}

.block-scroll-y {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}