/* O main agora ocupa a tela toda, permitindo que o Banner estique */
.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Criamos essa classe para usar dentro das páginas quando quisermos centralizar */
.contentContainer {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  /* Centraliza */
  padding: 2rem 0;
  /* O respiro vertical */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 0 4rem;
}

.primaryButton {
  padding: 0.6rem 1.5rem;
  background-color: var(--cor3);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.85rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 1rem;
  align-self: flex-end;
  width: 150px;
}

.primaryButton:hover {
  background-color: var(--cor1);
}

.secondaryButton {
  padding: 0.6rem 1.5rem;
  background-color: var(--cor3);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.85rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 1rem;
  align-self: flex-end;
  width: 150px;
}

.secondaryButton:hover {
  background-color: var(--cor1);
}

/* Ajuste Mobile */
@media (max-width: 768px) {
  .contentContainer {
    width: 92%;
  }
}