/* O main agora ocupa a tela toda, permitindo que o Banner estique */
.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Criamos essa classe para usar dentro das páginas quando quisermos centralizar */
.contentContainer {
  width: 92%;          
  max-width: 1200px;
  margin: 0 auto;        /* Centraliza */
  padding: 2rem 0;       /* O respiro vertical */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Ajuste Mobile */
@media (max-width: 768px) {
  .contentContainer {
    width: 92%;
  }
}