.mainLayout {
  display: flex;
  gap: 3rem; /* Espaço entre a área de posts e a sidebar */
  align-items: flex-start; /* OBRIGATÓRIO: Permite que o sticky funcione e os itens fiquem alinhados ao topo */
}

/* Área onde ficam os posts */
.contentArea {
  flex: 1; /* Ocupa todo o espaço que sobrar depois dos 300px da sidebar */
}

.grid {
  display: flex;
  flex-wrap: wrap; /* A regra de ouro: permite que os cards pulem de linha */
  gap: 2rem;       /* O respiro exato entre eles */
}

/* Responsividade: Diminui um pouco no celular */
@media (max-width: 768px) {
  .homeTitle {
    font-size: 2rem;
  }
}