
/* O H1 específico da Home */
.homeTitle {
  font-size: 1.6rem;    /* Tamanho grande */
  font-weight: 700;     /* Negrito da fonte Poppins */
  color: var(--cor1);
  margin-top: 0;
  margin-bottom: 0.5rem; /* Espacinho para o subtítulo */
  line-height: 1.2;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap; /* A regra de ouro: permite que os cards pulem de linha */
  gap: 2rem;       /* O respiro exato entre eles */
  margin-top: 2rem;
}

/* Responsividade: Diminui um pouco no celular */
@media (max-width: 768px) {
  .homeTitle {
    font-size: 2rem;
  }
}