.card {
  width: calc((100% / 3) - 1.34rem);
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.textGroup {
  display: flex;
  flex-direction: column;
}

.textGroup a {
  text-decoration: none;
}

.imageWrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  background-color: var(--cor0);
}

.image {
  object-fit: cover;
  object-position: center;
}

.content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.categories {
  display: flex;
  flex-wrap: wrap; /* Se tiver muitas categorias, quebra a linha sem estourar o card */
  gap: 0.5rem;
  margin-bottom: 0.3rem; /* Dá um respiro antes do título */
}

.categoryTag {
  color: var(--cor3); /* Usando o roxo/rosa que você já definiu no sistema */
  font-size: 0.7rem; /* Fonte menor para não brigar com o título */
  font-weight: 400;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--cor1);
  /* Cinza Escuro */
  margin-bottom: 0.5rem;
  line-height: 1.4;
  transition: color 0.2s;
}

/* Efeito: Título fica Rosa quando passa o mouse no card */
.card:hover .title {
  color: var(--cor3);
}

.meta {
  font-size: 0.65rem;
  color: var(--cor2);
  /* Cinza Médio */
  font-weight: 500;
  margin-bottom: 1rem;
}

.author {
  color: var(--cor4);
  /* Nome do autor em Roxo */
  font-weight: 600;
}

.subtitle {
  font-size: 0.9rem;
  color: var(--cor2);
  margin-bottom: 0.5rem;
  line-height: 1.6;

  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Botão Outline */
.button {
  margin-top: auto;
  align-self: flex-start;

  background: transparent;
  border: 2px solid var(--cor4);
  /* Borda Roxa */
  color: var(--cor4);
  /* Texto Roxo */

  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: var(--cor4);
  /* Fundo Roxo */
  color: white;
  /* Texto Branco */
  box-shadow: 0 4px 10px rgba(123, 86, 199, 0.3);
}

/* Responsividade do Card para Flexbox */
@media (max-width: 1024px) {
  .card {
    /* No tablet, divide por 2 */
    width: calc((100% / 2) - 1rem);
  }
}

@media (max-width: 640px) {
  .card {
    /* No celular, ocupa tudo */
    width: 100%;
  }
}